<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="root">
        <h1>Enter URL or HTML Content</h1>
        <form action="/render" method="post">
            <label for="url">URL:</label><br>
            <input type="text" id="url" name="url" placeholder="Enter URL"><br><br>
            <label for="html_content">HTML Content:</label><br>
            <textarea id="html_content" name="html_content" rows="10" cols="50" placeholder="Paste HTML content here"></textarea><br><br>
            <input type="submit" value="Render">
        </form>
    </div>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BV78XGCXG2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-BV78XGCXG2');
    </script>
</body>
</html>
